<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>


  <div >
      <img src="/src/assets/img/logo.png" style="height:150px;width:150px; margin:auto">
  </div>
    

    <ion-card text-center>
  <ion-item>
    <ion-input required type="text" placeholder="SCHOOL CODE" [(ngModel)]="loginPostbody.domain"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="text" placeholder="USERNAME" [(ngModel)]="loginPostbody.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="text" placeholder="PASSWORD" [(ngModel)]="loginPostbody.password"></ion-input>
  </ion-item>


  <ion-button (click)="auth()" shape="round" color="primay" size="full">
    Login
  </ion-button>
</ion-card>


</ion-content>
