<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-img">
<!-- <img src="/src/assets/img/logo.png"> -->



<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="/src/assets/img/logo.png">
    </ion-avatar>
    <ion-label>
      <h2>Sofos</h2>
      <h3>Class- IA 109</h3>      
    </ion-label>
  </ion-item>
</ion-list>



  <ion-grid class="sofos-color">
    <ion-row>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="send"></ion-icon>
          <br> Notify
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="pie"></ion-icon>
          <br> Attendance
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center" (click)="gotohomework()">
          <br>
          <ion-icon size="large"  name="list-box"></ion-icon>
          <br> Homework
          <br>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="calendar"></ion-icon>
          <br> Schedule
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="images"></ion-icon>
          <br> Gallery
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="document"></ion-icon>
          <br> Result
          <br>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="bookmarks"></ion-icon>
          <br> Leave
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="build"></ion-icon>
          <br> Service
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="background:#e5e5e5 ; text-align: center">
          <br>
          <ion-icon size="large" name="md-cog"></ion-icon>
          <br> Setting
          <br>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
